* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --primary: #00C9B7;
  --secondary: #569D93;
  --alternate-color: #A32596;
  --primary-bg: #E8F3F1;
  --primary-light: #ECFDFA;
  --dark: #222222;
  --body: #888;
  --white: #ffffff;
  --white-darker: #c5c4c4;
  --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
  --primary-color: #00C9B7;
  --secondary-color: #569D93;
  --green: #00C9B7;

  --section-bg: #212429;

}